<div class="flex flex-column gap-3">
  <div class="flex flex-wrap gap-1">
    <div
      *ngFor="let c of colors"
      #grow
      class="flex-grow-1 cursor-pointer border-round-md grow"
      style="height: 5rem"
      [ngStyle]="{ 'background-color': c.hexValue }"
      (click)="showHowToMix(c)"
    ></div>
  </div>
  <!-- TODO -->
  <!-- <div *ngIf="colors.length === 3">
    <app-picture-three-color
      [colors]="colors"
      [reversed]="true"
    ></app-picture-three-color>
  </div> -->
</div>
