.markdown-table {
  width: 100%;
  table-layout: fixed;
}

.markdown-table td {
  word-wrap: break-word;
}

.markdown-table-display {
  font-family: monospace;
  white-space: pre;
  width: 100%;
  height: 300px;
}

tr.selected-row {
  background-color: black;
}

td.selected-column {
  background-color: black;
}
