button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
}

button[style*="green"] {
  background-color: green;
}

button[style*="red"] {
  background-color: red;
}

/* Add CSS styles for your p-table */
.p-datatable-gridlines {
  border: 1px solid #ccc;
}

.p-datatable-gridlines th,
.p-datatable-gridlines td {
  padding: 10px;
  border: 1px solid #ccc;
}
