<button (click)="addNewColumn()" style="background-color: green">
  Add a column at last
</button>
<button (click)="addNewRow()" style="background-color: green">
  Add a row at last
</button>
<br />
<button (click)="deleteLastColumn()" style="background-color: red">
  Delete a column at last
</button>
<button (click)="deleteLastRow()" style="background-color: red">
  Delete a row at last
</button>

<p-table
  [value]="data"
  styleClass="p-datatable-gridlines"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <!-- First row -->
    <tr>
      <th>
        <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
      </th>
      <!-- Ko the (for let i = 0; i < getNumCols(); i++) -->
      <!-- Su dung index as ... khi quan trong index trong array -->
      <th *ngFor="let col of data[0]; index as colIndex">
        <button (click)="addColumnPrevious(colIndex)">-</button>

        {{ colIndex + 1 }}
        <button (click)="addColumnAfter(colIndex)">+</button>
        <button
          (click)="deleteColumn(colIndex)"
          style="background-color: red"
          *ngIf="data[0].length > 1"
        >
          X
        </button>
      </th>
      <!-- <button (click)="addColumnAfter(data[0].length)">+</button> -->
    </tr>
  </ng-template>
  <!-- let-item: belongs to primeNg -->
  <!-- for each item -->
  <!-- let-i="rowIndex": rowIndex of each row -->
  <ng-template let-item let-rowIndex="rowIndex" pTemplate="body">
    <tr>
      <td>
        <button (click)="addRowAbove(rowIndex)">+</button>
        <button (click)="addRowBelow(rowIndex)">-</button>
        {{ rowIndex + 1 }}
        <button
          (click)="deleteRow(rowIndex)"
          style="background-color: red"
          *ngIf="data.length > 1"
        >
          X
        </button>
      </td>
      <ng-container *ngFor="let cell of item; index as colIndex">
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="item[colIndex].str"
                class="w-full"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ item[colIndex].str }}
            </ng-template>
          </p-cellEditor>
        </td>
      </ng-container>
    </tr>
  </ng-template>
</p-table>
