<div
  class="flex flex-column justify-content-center align-items-center h-screen surface-section px-4 py-8 md:px-6 lg:px-8"
>
  <div class="w-full">
    <div class="mt-6 mb-5 font-bold text-6xl text-900 text-center">
      Unleashing the Vibrance: CMYK Color Mixing Animation Coming Soon!
    </div>
    <p class="text-700 text-3xl mt-0 mb-6 text-center">
      Sorry for the inconvenience.
    </p>
    <div class="text-center">
      <a
        type="button"
        pButton
        pRipple
        label="Go to Home Page"
        icon="pi pi-home"
        [routerLink]="homePageUrl"
      ></a>
    </div>
  </div>
</div>
