<footer
  #footer
  class="surface-section p-3 lg:p-5 text-center flex flex-column gap-3"
>
  <div class="flex flex-wrap gap-3 align-items-center justify-content-center">
    <img
      src="assets/images/logo.png"
      alt="Image"
      style="height: 3rem"
      class="cursor-pointer"
      (click)="navigateToColorRecognizer()"
      #logo
    />
    <h1 class="cursor-pointer ml2" (click)="navigateToColorRecognizer()">
      Color Recognizer
    </h1>
  </div>
  <!-- <ul
    class="list-none flex justify-content-center flex-column align-items-center lg:flex-row p-0"
  >
    <li>
      <a class="text-600 cursor-pointer">About Us</a>
    </li>
  </ul> -->
  <div class="flex align-items-center justify-content-center gap-3 lg:gap-5">
    <a
      class="icon cursor-pointer border-circle bg-bluegray-100 block inline-flex justify-content-center align-items-center"
      style="width: 2.5rem; height: 2.5rem"
      href="https://www.tiktok.com/@longhl104"
      target="_blank"
    >
      <i class="pi custom-icon-tiktok"></i>
    </a>
    <a
      class="icon cursor-pointer border-circle bg-bluegray-100 block inline-flex justify-content-center align-items-center"
      style="width: 2.5rem; height: 2.5rem; color: black"
      href="https://github.com/longhl104"
      target="_blank"
    >
      <i class="pi pi-github"></i>
    </a>
    <a
      class="icon cursor-pointer border-circle bg-bluegray-100 block inline-flex justify-content-center align-items-center"
      style="width: 2.5rem; height: 2.5rem; color: black"
      href="https://www.youtube.com/channel/UC-F-FbAu6EL_ByF2PmJESmw"
      target="_blank"
    >
      <i class="pi pi-youtube"></i>
    </a>
  </div>
  <div class="text-center">
    <!-- <a class="mr-5 text-sm text-600 cursor-pointer">Privacy Policy</a>
    <a class="text-sm text-600 cursor-pointer">Terms of Service</a> -->
    <span class="text-sm text-600">
      ©2023 Color Recognizer | Developed by
      <a href="https://duy-long-nguyen-resume.web.app/" target="_blank">
        Duy Long Nguyen
      </a>
      | All Rights Reserved
    </span>
  </div>
</footer>
