/* You can add global styles to this file, and also import other style files */

html {
  font-size: 1rem;
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: var(--font-family);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.required:after {
  content: " *";
  color: red;
}

@import "primeflex/primeflex.scss";
@import "./assets/scss/formly.scss";
@import "./assets/scss/size.scss";

p-colorpicker {
  .p-disabled,
  .p-component:disabled {
    opacity: 1 !important;
  }
}

.p-column-title {
  @include styleclass("font-medium text-900");
}

div.p-toast-detail {
  inline-size: 15rem;
  overflow-wrap: break-word;
}

p-dynamicdialog .p-dialog {
  width: 100%;

  @media (min-width: #{$lg}) {
    width: 50vw;
  }
}

.custom-icon-tiktok {
  display: block;
  background: black;
  color: white;
  text-decoration: none;

  &:before {
    content: "";
    background: url("assets/svgs/logo-tiktok.svg");
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
  }
}

textarea {
  max-width: 100%;
  min-width: 100%;
}

body > div.background-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  overflow: hidden;

  &.circle > div.background-block {
    border-radius: 50%;
  }

  &.triangle > div.background-block {
    // border-radius: 50%;
    width: 0;
    height: 0;

    border-right: 11.547px solid transparent;
    border-left: 11.547px solid transparent;
    background: none !important;

    &:nth-child(3n + 1) {
      border-bottom: 20px solid var(--background-line-color-1);
    }

    &:nth-child(3n + 2) {
      border-bottom: 20px solid var(--background-line-color-2);
    }

    &:nth-child(3n + 3) {
      border-bottom: 20px solid var(--background-line-color-3);
    }

    @media (min-width: #{$lg}) {
      border-right: 28.8675px solid transparent;
      border-left: 28.8675px solid transparent;

      &:nth-child(3n + 1) {
        border-bottom: 50px solid var(--background-line-color-1);
      }

      &:nth-child(3n + 2) {
        border-bottom: 50px solid var(--background-line-color-2);
      }

      &:nth-child(3n + 3) {
        border-bottom: 50px solid var(--background-line-color-3);
      }
    }
  }

  & > div.background-block {
    @media (min-width: #{$lg}) {
      width: 50px;
      height: 50px;
    }

    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--background-line-color-1);

    &:nth-child(3n + 1) {
      background: var(--background-line-color-1);
    }

    &:nth-child(3n + 2) {
      background: var(--background-line-color-2);
    }

    &:nth-child(3n + 3) {
      background: var(--background-line-color-3);
    }
  }
}

.introjs-tooltip {
  background-color: var(--surface-50) !important;

  .introjs-dontShowAgain {
    padding-bottom: 20px;

    label {
      background-color: var(--surface-50) !important;
      color: var(--text-color) !important;
    }
  }

  .introjs-arrow {
    &.bottom {
      border-top-color: var(--surface-50) !important;
    }

    &.top {
      border-bottom-color: var(--surface-50) !important;
    }

    &.left,
    &.left-bottom,
    &.left-top {
      border-right-color: var(--surface-50) !important;
    }

    &.right,
    &.right-bottom,
    &.right-top {
      border-left-color: var(--surface-50) !important;
    }
  }

  .introjs-dontShowAgain {
    display: flex;
    align-items: center;

    input {
      border: 1px solid var(--surface-border);
      background: var(--surface-ground);
      width: 20px;
      height: 20px;
      color: var(--text-color);
      border-radius: 4px;
      transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    }
  }

  .introjs-button,
  .introjs-button:focus {
    color: var(--primary-color-text);
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    border-radius: 4px;
    text-shadow: none !important;

    &:hover {
      background: var(--primary-color-2);
      color: var(--primary-color-text);
      border-color: var(--primary-color-2);
    }

    &:active {
      background: var(--primary-color-3);
      color: var(--primary-color-text);
      border-color: var(--primary-color-3);
    }
  }

  .introjs-progress {
    margin-left: 20px !important;
    margin-right: 20px !important;

    .introjs-progressbar {
      background-color: var(--primary-color) !important;
    }
  }

  .introjs-prevbutton {
    display: none;
  }
}

.p-inputnumber-buttons-horizontal .p-inputnumber-input {
  border-radius: 0 !important;
}

.p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-down {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-up {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.p-inputnumber-button.p-inputnumber-button-down.p-button,
.p-button.p-button-primary-4 {
  background: var(--primary-color-4);
  border-color: var(--primary-color-4);
  border: 1px solid var(--primary-color-4);

  &:hover {
    background: var(--primary-color-4-hover);
    border-color: var(--primary-color-4);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--primary-color-4-rgb), 0.5);
  }
}

.p-button.p-button-primary-5 {
  background: var(--primary-color-5);
  border-color: var(--primary-color-5);
  border: 1px solid var(--primary-color-5);

  &:hover {
    background: var(--primary-color-5-hover);
    border-color: var(--primary-color-5);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--primary-color-5-rgb), 0.5);
  }
}

span.p-button.p-fileupload-choose,
button.gradient {
  border: none;

  background-image: linear-gradient(
    to right,
    var(--primary-color-3) 0%,
    var(--primary-color-4) 50%,
    var(--primary-color-5) 100%
  ) !important;

  background-size: 100%;
  background-image: -webkit-linear-gradient(
    to right,
    var(--primary-color-3) 0%,
    var(--primary-color-4) 50%,
    var(--primary-color-5) 100%
  );
  background-image: linear-gradient(
    to right,
    var(--primary-color-3) 0%,
    var(--primary-color-4) 50%,
    var(--primary-color-5) 100%
  );
  position: relative;
  z-index: 1;
  &:before {
    border-radius: inherit;
    background-image: -webkit-linear-gradient(
      to right,
      var(--primary-color-5) 0%,
      var(--primary-color-4) 50%,
      var(--primary-color-3) 100%
    );
    background-image: linear-gradient(
      to right,
      var(--primary-color-5) 0%,
      var(--primary-color-4) 50%,
      var(--primary-color-3) 100%
    );
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &:active {
    // not part of the mixin, I just wanted to add for dramatic effect
    &:before {
      opacity: 0;
    }
  }
}

.background-primary-4 {
  background-color: var(--primary-color-4);
}

.background-primary-5 {
  background-color: var(--primary-color-5);
}

.p-button {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
