/* You can add global styles to this file, and also import other style files */

html {
  font-size: 1rem;
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: var(--font-family);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.required:after {
  content: " *";
  color: red;
}

@import "primeflex/primeflex.scss";
@import "./assets/scss/formly.scss";
@import "./assets/scss/size.scss";

p-colorpicker {
  .p-disabled,
  .p-component:disabled {
    opacity: 1 !important;
  }
}

.p-column-title {
  @include styleclass("font-medium text-900");
}

div.p-toast-detail {
  inline-size: 15rem;
  overflow-wrap: break-word;
}

p-dynamicdialog .p-dialog {
  width: 100%;

  @media (min-width: #{$lg}) {
    width: 50vw;
  }
}

.custom-icon-tiktok {
  display: block;
  background: black;
  color: white;
  text-decoration: none;

  &:before {
    content: "";
    background: url("assets/svgs/logo-tiktok.svg");
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
  }
}

textarea {
  max-width: 100%;
  min-width: 100%;
}

body > div.background-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.circle > div.background-block {
    border-radius: 50%;
  }

  &.triangle > div.background-block {
    // border-radius: 50%;
    width: 0;
    height: 0;

    border-right: 11.547px solid transparent;
    border-left: 11.547px solid transparent;
    background: none !important;

    &:nth-child(3n + 1) {
      border-bottom: 20px solid var(--background-line-color-1);
    }

    &:nth-child(3n + 2) {
      border-bottom: 20px solid var(--background-line-color-2);
    }

    &:nth-child(3n + 3) {
      border-bottom: 20px solid var(--background-line-color-3);
    }

    @media (min-width: #{$lg}) {
      border-right: 28.8675px solid transparent;
      border-left: 28.8675px solid transparent;

      &:nth-child(3n + 1) {
        border-bottom: 50px solid var(--background-line-color-1);
      }
  
      &:nth-child(3n + 2) {
        border-bottom: 50px solid var(--background-line-color-2);
      }
  
      &:nth-child(3n + 3) {
        border-bottom: 50px solid var(--background-line-color-3);
      }
    }
  }

  & > div.background-block {
    @media (min-width: #{$lg}) {
      width: 50px;
      height: 50px;
    }

    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--background-line-color-1);
    z-index: -1;

    &:nth-child(3n + 1) {
      background: var(--background-line-color-1);
    }

    &:nth-child(3n + 2) {
      background: var(--background-line-color-2);
    }

    &:nth-child(3n + 3) {
      background: var(--background-line-color-3);
    }
  }
}
