/* You can add global styles to this file, and also import other style files */

html {
  font-size: 1rem;
  height: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.required:after {
  content: " *";
  color: red;
}

@import "primeflex/primeflex.scss";
@import "./assets/scss/formly.scss";
@import "./assets/scss/size.scss";

p-colorpicker {
  .p-disabled,
  .p-component:disabled {
    opacity: 1 !important;
  }
}

.p-column-title {
  @include styleclass("font-medium text-900");
}

div.p-toast-detail {
  inline-size: 15rem;
  overflow-wrap: break-word;
}

p-dynamicdialog .p-dialog {
  width: 100%;

  @media (min-width: #{$lg}) {
    width: 50vw;
  }
}

.p-ripple .p-ink {
  background: rgba(255, 218, 41, 0.3);
}
