<div class="flex flex-column gap-3">
  <textarea
    #srcTextarea
    rows="5"
    pInputTextarea
    [(ngModel)]="srcString"
    (keydown)="onTextareaKeyDown($event, srcTextarea)"
  ></textarea>
  <div class="flex flex-wrap gap-3">
    <p-button
      [disabled]="buttonsDisabled"
      label="Escape"
      (onClick)="escape()"
    ></p-button>
    <p-button
      [disabled]="buttonsDisabled"
      label="Unescape"
      (onClick)="unescape()"
      styleClass="p-button-primary-4"
    ></p-button>
    <p-button
      [disabled]="buttonsDisabled"
      label="Beautify"
      (onClick)="beautify()"
      styleClass="p-button-primary-5"
    ></p-button>
  </div>
  <div class="relative">
    <div class="absolute right-0 p-3" [hidden]="!destString">
      <app-copy-to-clipboard-button
        [content]="destString"
        [contentDisplayed]="false"
      ></app-copy-to-clipboard-button>
    </div>
    <textarea
      #destTextarea
      rows="5"
      pInputTextarea
      [(ngModel)]="destString"
      [autoResize]="true"
      (keydown)="onTextareaKeyDown($event, destTextarea)"
    ></textarea>
  </div>
</div>
