<p-fieldset legend="CMYK">
  <div class="flex flex-column gap-3">
    <app-copy-to-clipboard-button [content]="clipboardContent" />
    <div class="flex align-items-center gap-3">
      <strong>C</strong>
      <div class="flex-grow-1">
        <p-slider
          [(ngModel)]="cmykCyan"
          [step]="1"
          [min]="0"
          [max]="100"
          [animate]="true"
          styleClass="min-w-5rem"
          [disabled]="isBlack || (cmykMagenta > 0 && cmykYellow > 0)"
          #cmykCyanSlider
        ></p-slider>
      </div>
      <p-inputNumber
        styleClass="w-5rem"
        [(ngModel)]="cmykCyan"
        [min]="0"
        [max]="100"
        [allowEmpty]="false"
        suffix="%"
        [disabled]="isBlack || (cmykMagenta > 0 && cmykYellow > 0)"
      ></p-inputNumber>
    </div>

    <div class="flex align-items-center gap-3">
      <strong>M</strong>
      <div class="flex-grow-1">
        <p-slider
          [(ngModel)]="cmykMagenta"
          [step]="1"
          [min]="0"
          [max]="100"
          [animate]="true"
          styleClass="min-w-5rem"
          [disabled]="isBlack || (cmykCyan > 0 && cmykYellow > 0)"
          #cmykMagentaSlider
        ></p-slider>
      </div>
      <p-inputNumber
        styleClass="w-5rem"
        [(ngModel)]="cmykMagenta"
        [min]="0"
        [max]="100"
        [allowEmpty]="false"
        suffix="%"
        [disabled]="isBlack || (cmykCyan > 0 && cmykYellow > 0)"
      ></p-inputNumber>
    </div>

    <div class="flex align-items-center gap-3">
      <strong>Y</strong>
      <div class="flex-grow-1">
        <p-slider
          [(ngModel)]="cmykYellow"
          [step]="1"
          [min]="0"
          [max]="100"
          [animate]="true"
          styleClass="min-w-5rem"
          [disabled]="isBlack || (cmykMagenta > 0 && cmykCyan > 0)"
          #cmykYellowSlider
        ></p-slider>
      </div>
      <p-inputNumber
        styleClass="w-5rem"
        [(ngModel)]="cmykYellow"
        [min]="0"
        [max]="100"
        [allowEmpty]="false"
        suffix="%"
        [disabled]="isBlack || (cmykMagenta > 0 && cmykCyan > 0)"
      ></p-inputNumber>
    </div>
    <div class="flex align-items-center gap-3">
      <strong>K</strong>
      <div class="flex-grow-1">
        <p-slider
          [(ngModel)]="cmykBlack"
          [step]="1"
          [min]="0"
          [max]="100"
          [animate]="true"
          styleClass="min-w-5rem"
          #cmykBlackSlider
        ></p-slider>
      </div>
      <p-inputNumber
        styleClass="w-5rem"
        [(ngModel)]="cmykBlack"
        [min]="0"
        [max]="100"
        [allowEmpty]="false"
        suffix="%"
      ></p-inputNumber>
    </div>
  </div>
</p-fieldset>
