<div class="flex flex-column gap-3">
  <app-back-button></app-back-button>

  <div class="text-center flex flex-column gap-3">
    <div class="text-900 text-3xl font-medium">Welcome Back</div>
    <div class="flex flex-wrap gap-3 justify-content-center">
      <span class="text-600 font-medium line-height-3"
        >Don't have an account?</span
      >
      <a
        class="font-medium no-underline text-blue-500"
        [routerLink]="registerUrl"
      >
        Create today!
      </a>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="flex flex-column gap-3">
      <formly-form
        [model]="model"
        [fields]="fields"
        [options]="options"
        [form]="form"
      ></formly-form>

      <app-submit-button
        [form]="form"
        icon="pi pi-sign-in"
        label="Login"
        styleClass="w-full"
      ></app-submit-button>
    </div>
  </form>

  <p-button
    label="Login with Google"
    icon="pi pi-google"
    (onClick)="loginWithGoogle()"
    [disabled]="true"
    styleClass="w-full"
  ></p-button>
</div>
