<div class="flex flex-column gap-3">
  <div class="grid">
    <div class="col-12 lg:col-6">
      <h2>Text 1</h2>
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="file1"
      ></textarea>
    </div>
    <div class="col-12 lg:col-6">
      <h2>Text 2</h2>
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="file2"
      ></textarea>
    </div>
  </div>

  <p-button
    icon="pi pi-file"
    label="Diff"
    (onClick)="diff()"
    [disabled]="diffButtonDisabled"
    styleClass="gradient"
  ></p-button>

  <div id="diff">
    <ng-container *ngFor="let diff of diffs">
      <span
        *ngIf="diff[0] === 0"
        [ngClass]="getClass(diff)"
        [innerText]="diff[1]"
      >
      </span>
      <del
        *ngIf="diff[0] === -1"
        [ngClass]="getClass(diff)"
        [innerText]="diff[1]"
      >
      </del>
      <ins
        *ngIf="diff[0] === 1"
        [ngClass]="getClass(diff)"
        [innerText]="diff[1]"
      >
      </ins>
      <!--  -->
    </ng-container>
  </div>
</div>
