<div class="surface-card p-3 lg:p-5 shadow-2 border-round">
  <h1>Privacy Policy</h1>
  <p>Last Updated: August 3rd, 2023</p>

  <h2>Introduction</h2>
  <p>
    Welcome to Color Recognizer! This privacy policy outlines how we collect,
    use, and safeguard the personal information you provide while using our app.
    By accessing or using Color Recognizer, you consent to the practices
    described in this policy.
  </p>

  <h2>Information Collection and Use</h2>
  <p>
    When you use the App, we may collect certain personal information,
    including:
  </p>
  <ul>
    <li>Name</li>
    <li>Email</li>
    <li>Company Name (if applicable)</li>
  </ul>
  <p>
    We will use this information to provide you with a better user experience,
    to contact you regarding the App's updates or new features, and to
    understand our user base to improve our services.
  </p>
  <h2>Cookies</h2>
  <p>
    Color Recognizer may use cookies to enhance your user experience. Cookies
    are small pieces of data stored on your device. They help us remember your
    app settings, such as light/dark mode preferences, so that you can enjoy a
    seamless and customized experience.
  </p>
  <h2>Information Sharing</h2>
  <p>
    We will not sell, trade, or rent your personal information to third parties.
    We may share your information with trusted service providers who assist us
    in operating the App, but they are obligated to keep your information
    confidential.
  </p>

  <h2>Security</h2>
  <p>
    We take the security of your personal information seriously. We implement
    industry-standard security measures to protect your information from
    unauthorized access, alteration, disclosure, or destruction.
  </p>

  <h2>Changes to this Policy</h2>
  <p>
    We reserve the right to update or modify this Privacy Policy at any time.
    Any changes will be effective immediately upon posting the updated Privacy
    Policy on this page. We encourage you to review this page periodically to
    stay informed about our privacy practices.
  </p>

  <h2>Contact Us</h2>
  <p>
    If you have any questions or concerns about this Privacy Policy or the App's
    privacy practices, please contact us at:
  </p>
  <p class="inline-flex align-items-center gap-1">
    <span>
      Email
      <a href="mailto:longlunglay1998@gmail.com">longlunglay1998@gmail.com</a>
      or page
    </span>
    <a [routerLink]="contactUsUrl" class="p-button">Contact Us</a>
  </p>
</div>
