<div
  class="p-2 lg:px-5 shadow-2 flex align-items-center justify-content-between relative lg:static"
  style="min-height: 80px"
>
  <div class="block lg:hidden" style="width: 2rem"></div>
  <img
    #logo
    src="assets/images/logo.png"
    alt="Logo"
    height="40"
    class="mr-0 lg:mr-5"
  />
  <a
    pRipple
    class="cursor-pointer block lg:hidden text-700"
    pStyleClass="@next"
    enterClass="hidden"
    enterActiveClass="fadein"
    leaveToClass="hidden"
    leaveActiveClass="fadeout"
    [hideOnOutsideClick]="true"
  >
    <i class="pi pi-bars text-4xl"></i>
  </a>
  <div
    class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay lg:surface-ground left-0 top-100 z-2 shadow-2 lg:shadow-none"
  >
    <ul
      class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row lg:gap-2"
    >
      <li>
        <a
          pRipple
          class="flex p-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
          [routerLink]="homeUrl"
          routerLinkActive="text-900 surface-100"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="pi pi-search mr-2"></i>
          <span> Color Recogniser </span>
        </a>
      </li>
      <li>
        <a
          pRipple
          class="flex p-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
          [routerLink]="palettesUrl"
          routerLinkActive="text-900 surface-100"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="pi pi-table mr-2"></i>
          <span> Color Palettes </span>
        </a>
      </li>
      <li *ngIf="currentUser?.admin">
        <a
          pRipple
          class="flex p-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
          [routerLink]="colorManagementUrl"
          routerLinkActive="text-900 surface-100"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="pi pi-book mr-2"></i>
          <span>Color Management</span>
        </a>
      </li>
    </ul>
    <ul
      class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row border-top-1 surface-border lg:border-top-none"
    >
      <!-- Theme -->
      <li class="lg:relative">
        <a
          pRipple
          class="flex p-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
          pStyleClass="@next"
          enterClass="hidden"
          enterActiveClass="fadein"
          leaveToClass="hidden"
          leaveActiveClass="fadeout"
          [hideOnOutsideClick]="true"
          pTooltip="Theme Settings"
          tooltipPosition="left"
        >
          <i
            class="text-base lg:text-2xl mr-2 lg:mr-0"
            [ngClass]="themeIcon"
          ></i>
          <span class="block lg:hidden font-medium"> Theme </span>
          <i class="pi pi-angle-down ml-auto lg:ml-2"></i>
        </a>
        <ul
          class="list-none py-0 px-2 m-0 lg:p-0 border-round shadow-0 lg:shadow-2 lg:border-1 border-50 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem cursor-pointer right-0"
        >
          <li>
            <a
              pRipple
              class="flex p-2 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150"
              (click)="toggleSystemThemeUsed()"
            >
              <p-checkbox
                [ngModel]="systemThemeUsed"
                [binary]="true"
                inputId="binary"
                class="-ml-1 mr-2"
              ></p-checkbox>

              <span class="font-medium"> Use system theme </span>
            </a>
          </li>
          <li>
            <a
              *ngIf="!systemThemeUsed"
              pRipple
              class="flex p-2 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150"
              (click)="toggleTheme()"
            >
              <i class="mr-2" [ngClass]="themeIcon"></i>
              <span class="font-medium"> Toggle Theme </span>
            </a>
          </li>
        </ul>
      </li>

      <!-- Account -->
      <li class="lg:relative" *ngIf="false">
        <app-account-actions></app-account-actions>
      </li>
    </ul>
  </div>
</div>
