<div class="flex flex-column gap-3 lg:gap-5">
  <app-ad-carousel></app-ad-carousel>

  <div class="card">
    <p-tabView (onChange)="onTabChange($event)" [activeIndex]="activeIndex">
      <p-tabPanel [header]="tabs[0].name">
        <app-tfn-generator></app-tfn-generator>
      </p-tabPanel>
      <p-tabPanel [header]="tabs[1].name">
        <app-file-diff></app-file-diff>
      </p-tabPanel>
      <p-tabPanel [header]="tabs[2].name">
        <app-json-escape-unescape></app-json-escape-unescape>
      </p-tabPanel>
      <p-tabPanel [header]="tabs[3].name">
        <app-generate-md-table></app-generate-md-table>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
