<!-- <input type="input" [formControl]="formControl" [formlyAttributes]="field"> -->

<div class="grid grid-nogutter align-items-stretch gap-3">
  <div
    style="min-height: 5rem; min-width: 5rem"
    [style]="{ background: hex }"
    class="col border-round border-1"
  ></div>
  <div class="col-fixed">
    <p-fieldset legend="Hex value">
      <div class="flex flex-column gap-3">
        <app-copy-to-clipboard-button
          [content]="hex"
        ></app-copy-to-clipboard-button>
        <input class="w-6rem" pInputText type="text" [(ngModel)]="hex" />
      </div>
    </p-fieldset>
  </div>
  <div class="col">
    <app-rgb-picker [model]="model" [(hex)]="hex" />
  </div>
  <div class="col">
    <app-cmyk-picker [model]="model" [(hex)]="hex" />
  </div>
  <div class="col">
    <app-hsv-picker [model]="model" [(hex)]="hex" />
  </div>
</div>
