.p-fieldset {
  height: 100%;

  & > div {
    height: 100%;

    & > div {
      height: 100%;
      display: flex;
      align-items: center;

      & > div {
        width: 100%;
      }
    }
  }
}
