<div
  class="align-items-center flex flex-column justify-content-center p-2 lg:p-5 surface-ground gap-2"
>
  <div class="surface-card p-2 lg:p-5 shadow-2 border-round w-full lg:w-6">
    <div class="flex flex-column gap-2">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="flex flex-column gap-2">
          <formly-form
            [model]="model"
            [fields]="fields"
            [options]="options"
            [form]="form"
          ></formly-form>

          <app-submit-button [form]="form"></app-submit-button>
        </div>
      </form>
    </div>
  </div>

  <div class="surface-card p-2 lg:p-5 shadow-2 border-round">
    <p-table
      [value]="colors"
      responsiveLayout="stack"
      breakpoint="991px"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-color>
        <tr>
          <td>{{ color.name }}</td>
          <td>{{ color.hexValue }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
