<div class="grid grid-nogutter justify-content-center">
  <div class="col-12 lg:col-6 flex flex-column gap-3 lg:gap-5">
    <div [ngClass]="cardCss">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="flex flex-column gap-3">
          <formly-form
            [model]="model"
            [fields]="fields"
            [options]="options"
            [form]="form"
          ></formly-form>

          <app-submit-button
            [form]="form"
            label="Generate Palettes"
            icon="pi pi-table"
          ></app-submit-button>
        </div>
      </form>
    </div>
    <app-lightening-monochromatic-palette
      [cardCss]="cardCss"
      [color]="color"
    ></app-lightening-monochromatic-palette>
    <app-lightening-monochromatic-palette
      [cardCss]="cardCss"
      [color]="color"
      [isDarkening]="true"
    ></app-lightening-monochromatic-palette>

    <!-- TODO -->
    <!-- <app-universal-gradient-palette
      [cardCss]="cardCss"
      [color]="color"
    ></app-universal-gradient-palette> -->

    <app-analogous-palette [cardCss]="cardCss" [color]="color">
    </app-analogous-palette>

    <app-analogous-palette
      [cardCss]="cardCss"
      [color]="color"
      label="Triadic"
      [hueVariation]="120"
    >
    </app-analogous-palette>

    <app-analogous-palette
      [cardCss]="cardCss"
      [color]="color"
      label="Split - complementary"
      [hueVariation]="150"
    >
    </app-analogous-palette>

    <app-analogous-palette
      [cardCss]="cardCss"
      [color]="color"
      label="Complementary"
      [hueVariation]="180"
    >
    </app-analogous-palette>

    <app-tetradic-palette
      [cardCss]="cardCss"
      [color]="color"
    ></app-tetradic-palette>
  </div>
</div>
