<p-fieldset legend="RGB">
  <div class="flex flex-column gap-3">
    <div class="flex align-items-center gap-3">
      <p-slider
        [(ngModel)]="rgbRed"
        [step]="1"
        [min]="0"
        [max]="255"
        [animate]="true"
        styleClass="w-10rem"
        #rgbRedSlider
      ></p-slider>
      <input class="w-4rem" type="text" pInputText [(ngModel)]="rgbRed" />
    </div>

    <div class="flex align-items-center gap-3">
      <p-slider
        [(ngModel)]="rgbGreen"
        [step]="1"
        [min]="0"
        [max]="255"
        [animate]="true"
        styleClass="w-10rem"
        #rgbGreenSlider
      ></p-slider>
      <input class="w-4rem" type="text" pInputText [(ngModel)]="rgbGreen" />
    </div>

    <div class="flex align-items-center gap-3">
      <p-slider
        [(ngModel)]="rgbBlue"
        [step]="1"
        [min]="0"
        [max]="255"
        [animate]="true"
        styleClass="w-10rem"
        #rgbBlueSlider
      ></p-slider>
      <input class="w-4rem" type="text" pInputText [(ngModel)]="rgbBlue" />
    </div>
  </div>
</p-fieldset>
