<p-fieldset legend="RGB">
  <div class="flex flex-column gap-3">
    <div class="flex align-items-center gap-3">
      <div class="flex-grow-1">
        <p-slider
          [(ngModel)]="rgbRed"
          [step]="1"
          [min]="0"
          [max]="255"
          [animate]="true"
          styleClass="min-w-5rem"
          #rgbRedSlider
        ></p-slider>
      </div>
      <p-inputNumber
        styleClass="w-4rem"
        [(ngModel)]="rgbRed"
        [min]="0"
        [max]="255"
        [allowEmpty]="false"
      ></p-inputNumber>
    </div>

    <div class="flex align-items-center gap-3">
      <div class="flex-grow-1">
        <p-slider
          [(ngModel)]="rgbGreen"
          [step]="1"
          [min]="0"
          [max]="255"
          [animate]="true"
          styleClass="min-w-5rem"
          #rgbGreenSlider
        ></p-slider>
      </div>
      <p-inputNumber
        styleClass="w-4rem"
        [(ngModel)]="rgbGreen"
        [min]="0"
        [max]="255"
        [allowEmpty]="false"
      ></p-inputNumber>
    </div>

    <div class="flex align-items-center gap-3">
      <div class="flex-grow-1">
        <p-slider
          [(ngModel)]="rgbBlue"
          [step]="1"
          [min]="0"
          [max]="255"
          [animate]="true"
          styleClass="min-w-5rem"
          #rgbBlueSlider
        ></p-slider>
      </div>
      <p-inputNumber
        styleClass="w-4rem"
        [(ngModel)]="rgbBlue"
        [min]="0"
        [max]="255"
        [allowEmpty]="false"
      ></p-inputNumber>
    </div>
  </div>
</p-fieldset>
